<nav class="navbar navbar-expand-lg bg-light">
       <div class="container-fluid">
         <a class="navbar-brand" href="/home">Student Log</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {{name}}
            {{role}}
            
            {% if request.session.role == 'Lead' %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Team Performance</a>
            </li>

            {% elif request.session.role == 'Member' %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Upload Report</a>
            </li>

            {% elif request.session.name %}
            <a href="/logout">
            <button class="btn btn-outline-primary" style="margin-left: 1080px;" type="submit">Logout</button>
            </a>
            {% endif %}



           </ul>
         </div>
       </div>
     </nav>